/*
background-grey: #F4F3F4;
main-titles dark-grey: #2C303F;
paragraph grey: #5b5e6d;
nav grey: #5b5e6d;
*/

/* ---- reset ---- */

body {
  margin: 0;
  padding: 0;
} 

  /* navbar */
nav {
  position: sticky;
  top: 0;
  width: 100%;
}

.nav-container {
  border-bottom: 1px solid #F4F3F4;
  box-shadow: 0px 1px 2px #F4F3F4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}

.logo-container {
  width: 20%;
  margin: 0.5em 1.5em;
}

#slack-logo {
  width: 100%;
}

.burger-icon {
  width: 7%;
  margin-right: 2em;
}

.line {
  width: 100%;
  height: 1px;
  background-color: #5b5e6d;
  border: solid 1px #5b5e6d;
  margin: 5px;
  vertical-align: center;
}


/* header */
.header-container {
  padding: 0 1em;
}

.title {
  font-family: 'Volkhov', serif;
  letter-spacing: -1px;
  color: #2C303F;
  text-align: left;
  font-size: 2.5em;
}

.header-text {
  font-family: 'Roboto', serif;
  font-size: 1em;
  color: #5b5e6d;
}

.img-wrapper {
  width: 100%;
}

.img-size {
  width: 100%;
}

.signin-wrapper {
  text-align: center;
}

.signin-button {
  padding: 0.5em 13em;
  border-radius: 3px;
  background-color: #3f46ad;
  border: 1px solid #3f46ad;
}

.signin-cta {
  color: #2C303F;
  font-family: 'Volkhov', serif;
  font-size: 2em;
  letter-spacing: -1px;
  margin-bottom: 0;
}

.signin-input {
  padding: 1.3em 22em 1.3em 1em;
  border: 1px solid #F4F3F4;
  border-radius: 3px;
  margin-bottom: 2em;
  text-align: left;
}

.button-text {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.signin-text {
  font-family: 'Roboto', serif;
  font-size: 1em;
  color: #5b5e6d;
  margin-bottom: 2.5em;
}

/* main */
.main-container {
  background-color: #F4F3F4;
  text-align-last: center;
  padding: 1.5em 1em;
}

.main-title {
  font-family: 'Volkhov', serif;
  letter-spacing: -1px;
  color: #2C303F;
  font-size: 1.5em;
}
.main-button {
  padding: 1.5em 13em;
  border-radius: 3px;
  background-color: #fff;
  border: 1px solid #3f46ad;
  color: #3f46ad;
  font-weight: bold;
}

.main-subtitle {
  font-family: 'Roboto', serif;
  color: #5b5e6d;
  text-align: center;
  margin-bottom: 2em;
  letter-spacing: 1px;
}

.client-wrapper {
  padding: 2em 1em;
}
.client {
  width: 60%;
  margin-left: 20%;
  border-bottom: 1px solid #F4F3F4
}

.client-img {
  width: 100%
}

.img-sm {
  padding: 2em 0;
}

.img-m {
  width: 80%;
  padding: 1.5em 0;
}

hr {
  width: 95%;
  height: 1px;
  color: #dcd7dc;
  background-color: #dcd7dc;
  border: none;
}


/* footer */


.slack-hash {
  width: 25%;
  padding: 0.5em 1em;
}

.four-wrapper {
  font-family: Helvetica;
  color: #5b5e6d;
  font-size: 1em;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footer-component {
  width: 40%;
}
.component-wrapper {
  padding: 0;
  list-style-type: none;
}

.component-header {
  font-weight: bold;
  font-family: #5b5e6d;
}

.component-wrapper li {
  padding: 12px;
  color:  #5b5e6d;
}

/* footer 2 */
.footer2-wrapper {
  background-color: #F4F3F4;
  align-items: center;
  font-family: Helvetica;
  color: #5b5e6d;
}

.business-legal {
  font-weight: bold;
  padding-top: 2px;
  display: flex;
  justify-content: center;
}

.business-lang {
  width: 6%;
  display: inline-block;
}

.business-en {
  display: inline-block;
  padding-left: 8px;
}

.lang-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
}

.socialMedia-wrapper {
  padding: 10px;
  display: flex;
  justify-content: center;;
}

.sm-icon {
  padding-left: 12px;
}
/* media queries */
@media (min-width: 767px) and (max-width:961px) {

/* .client-wrapper  */

.footer-wrapper {
    display: flex;
    padding: 0;
  }

.footer-component {
  width: 20%;

}

.four-wrapper {
  font-size: 12px;
  width: 85%;
  display: flex;
  justify-content: center;
}

.slack-hash {
  width: 100%;
  padding: 0 3em;
}

.img-slack {
  width: 13%;
}

.footer2-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

.media-wrapper {
  display: flex;
  flex-wrap: nowrap;
  align-items: baseline;
}
}